/* Định dạng video làm background */
.background {
   position: fixed; /* Cố định vị trí trên cửa sổ */
   top: 0; /* vị trí bắt đầu | Trên cùng cửa sổ */
   left: 0; /* vị trí bắt đầu | Bên trái cửa sổ */
   width: 100%; /* Chiều rộng */
   height: 100%; /* Chiều cao */
   object-fit: cover; /* Căn chỉnh hình ảnh phù hợp với kích thước */
   z-index: -1; /* Thức tự hiển thị */
}
header {
   width: 100%; /* Chiều rộng */
   height: 29px; /* Chiều cao */
   -webkit-app-region: drag; /* Cho phép di chuyển cửa sổ */
   background: rgba(255, 255, 255, 0.1); /* Nền trong suốt */
   backdrop-filter: blur(5px); /* Hiệu ứng làm mờ */
   -webkit-backdrop-filter: blur(15px); /* Hỗ trợ Safari */
   z-index: 1; /* Thức tự hiển thị */
}
main {
   width: 100%; /* Chiều rộng */
   height: calc(100% - 29px); /* Chiều cao */
   z-index: 1; /* Thức tự hiển thị */
}