* {
   margin: 0; /* Khoản cách nội dung bên trong vật thể */
   padding: 0; /* Khoản cách bên ngoài vật thể */
   box-sizing: border-box; /* Tính kích thước của đối tượng bao gồm margin,padding,border */
}
html, body {
   width: 100%; /* Chiều rộng */
   height: 100%; /* Chiều cao */
}

.size-maximum {
   max-width: 100%; /*Chiều rộng tối đa */
   max-height: 100%; /* Chiều cao tối đa */
}

.font-text {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Định dạnh font chữ */
   font-size: medium; /* Kích thước chữ */
}

.color-text {
   color: white; /* Màu chữ */
}